<div class="content">
  <h1>{{'features.news.title' | translate}}</h1>
  <p-card>
    <div>
      <div class="text-area">
        <div class="autor">
          20.10.2022 - Yves Ruosch
        </div>
        <div class="image">
          <img src="./assets/game/Title.png" alt="title" style="max-width: 70%; max-height: 70%;">
        </div>
        <div class="text">
          <p>{{'features.news.september1922' | translate}} <i class="pi pi-external-link" [routerLink]="'/game'"></i></p>
        </div>
      </div>

      <div class="text-area">
        <div class="autor">
          27.07.2021 - Yves Ruosch
        </div>
        <div class="image">
          <img src="./assets/game/King.png" alt="king" style="max-width: 20%; max-height: 20%;">
          <img src="./assets/game/Sun.png" alt="sun" style="max-width: 20%; max-height: 20%;">
        </div>
        <div class="text">
          <p>{{'features.news.august2922' | translate}}</p>
        </div>
      </div>

    </div>
  </p-card>
</div>
