.box {
  width: 100%;
  display: grid;
  grid-template-areas:
      'menus toggle';
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  background-color: var(--surface-d);
  text-align: start;
  align-items: center;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.1),
  0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 1rem 0 1rem 0;
  z-index: 999;

  .king {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;

    img {
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }

  .toggle {
    margin-right: 1rem;
  }
}
