:host {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas: '. content .';

  .content {
    grid-area: content;
    margin-top: 2rem;
    margin-bottom: 6rem;
  }
}

form {
  margin-top: 3rem;
}

.action {
  display: flex;
  justify-content: flex-end;
}

.success {
  width: 30rem;
}
