<div class="content" [@fade]="''">
  <h1>{{'features.user.login.title' | translate}}</h1>

  <p-card>
    <ng-container>
      <app-input-error-message *ngIf="searched && (user$ | async) === undefined">
        {{'features.user.login.invalid' | translate}}
      </app-input-error-message>
      <h2 class="m-0"></h2>

      <form [formGroup]="formGroup">

        <div class="formgrid grid mt-5 p-fluid">
          <div class="field col-12 md:col-6">
            <label>Username</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" [formControl]="user" pInputText>
            </div>

            <app-input-error-message *ngIf="user.touched && user.invalid">
              {{'features.user.login.invalidInput' | translate}}
            </app-input-error-message>
          </div>

          <div class="field col-12 md:col-6">
            <label>{{'features.user.login.password' | translate}}</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon"><i class="pi pi-shield"></i></span>
              <input type="password" [formControl]="password" pInputText autocomplete="on">
            </div>
            <app-input-error-message *ngIf="password.touched && password.invalid">
              {{'features.user.login.invalidInput' | translate}}
            </app-input-error-message>
          </div>
        </div>

        <div class="action mt-5">
          <button pButton
                  pRipple
                  type="button"
                  [disabled]="formGroup.invalid"
                  (click)="login()"
                  [label]="'features.user.login.confirm' | translate"></button>
        </div>
      </form>
    </ng-container>
  </p-card>
</div>

