h3 {
  width: 100%;

  .step {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page {
      font-size: 1rem;
      margin-right: 0.25rem;
    }
  }
}

.question {
  font-style: italic;
}

.footer {
  display: flex;
  justify-content: space-between;
}

