<p-dialog [(visible)]="displayModal" [modal]="true"
          [style]="{width: '50vw', 'max-width': '30rem',  'min-width': '20rem'}"
          [baseZIndex]="10000"
          [draggable]="true"
          (onHide)="escape()"
          [resizable]="false">
  <ng-template pTemplate="header">
    <ng-container [ngSwitch]="step">
      <h3>
        <ng-container *ngSwitchCase="'start'">
          {{'features.poll.start.title' | translate}}
        </ng-container>

        <ng-container *ngSwitchCase="'minimax'">
          {{'features.poll.minimax.title' | translate}}
        </ng-container>

        <ng-container *ngSwitchCase="'dqn'">
          {{'features.poll.dqn.title' | translate}}
        </ng-container>

        <ng-container *ngSwitchCase="'questions'">
          {{'features.poll.questions.title' | translate}}
        </ng-container>

        <ng-container *ngSwitchCase="'end'">
          {{'features.poll.end.title' | translate}}
        </ng-container>

        <ng-container *ngSwitchDefault>
          // HEADER {{step}}
        </ng-container>
      </h3>
    </ng-container>
  </ng-template>

  <!-- CONTENT -->
  <ng-container [ngSwitch]="step">
    <ng-container *ngSwitchCase="'start'">
      {{'features.poll.start.description' | translate}} <br>
      {{'features.poll.start.howto' | translate}}
      <a href="/how-to-play">{{'features.poll.start.howtolink' | translate}}</a>. <br>
    </ng-container>

    <ng-container *ngSwitchCase="'minimax'">
      {{'features.poll.minimax.description' | translate}}
    </ng-container>

    <ng-container *ngSwitchCase="'dqn'">
      {{'features.poll.dqn.description' | translate}}
    </ng-container>

    <ng-container *ngSwitchCase="'questions'">
      {{'features.poll.questions.description' | translate}}<br><br>

      <form [formGroup]="formGroup">
        <div class="grid">

          <div class="col-12 mt-2 question">
            {{'features.poll.questions.7.question' | translate}}
          </div>
          <div class="col-12">
            <div class="grid">
              <div class="col-3">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'1-20'" [formControlName]="'question7'" inputId="q7-1"></p-radioButton>
                  <label for="q7-1" class="ml-2">1-20</label>
                </div>
              </div>
              <div class="col-3">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'21-34'" [formControlName]="'question7'" inputId="q7-2"></p-radioButton>
                  <label for="q7-2" class="ml-2">21-34</label>
                </div>
              </div>
              <div class="col-3">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'35-50'" [formControlName]="'question7'" inputId="q7-3"></p-radioButton>
                  <label for="q7-3" class="ml-2">35-50</label>
                </div>
              </div>
              <div class="col-3">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'51-99'" [formControlName]="'question7'" inputId="q7-4"></p-radioButton>
                  <label for="q7-4" class="ml-2">51-99</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-2 question">
            {{'features.poll.questions.6.question' | translate}}
          </div>
          <div class="col-12">
            <div class="grid">
              <div class="col-3">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'YES'" [formControlName]="'question6'" inputId="q6-1"></p-radioButton>
                  <label for="q6-1" class="ml-2">{{'features.poll.questions.6.yes' | translate}}</label>
                </div>
              </div>
              <div class="col-3">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'NO'" [formControlName]="'question6'" inputId="q6-2"></p-radioButton>
                  <label for="q6-2" class="ml-2">{{'features.poll.questions.6.no' | translate}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-2 question">
            {{'features.poll.questions.8.question' | translate}}
          </div>
          <div class="col-12">
            <div class="grid">
              <div class="col-3">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'YES'" [formControlName]="'question8'" inputId="q8-1"></p-radioButton>
                  <label for="q8-1" class="ml-2">{{'features.poll.questions.8.yes' | translate}}</label>
                </div>
              </div>
              <div class="col-3">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'NO'" [formControlName]="'question8'" inputId="q8-2"></p-radioButton>
                  <label for="q8-2" class="ml-2">{{'features.poll.questions.8.no' | translate}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-2 question">
            {{'features.poll.questions.9.question' | translate}}
          </div>
          <div class="col-12">
            <div class="grid">
              <div class="col-3">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'YES'" [formControlName]="'question9'" inputId="q9-1"></p-radioButton>
                  <label for="q9-1" class="ml-2">{{'features.poll.questions.9.yes' | translate}}</label>
                </div>
              </div>
              <div class="col-3">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'NO'" [formControlName]="'question9'" inputId="q9-2"></p-radioButton>
                  <label for="q9-2" class="ml-2">{{'features.poll.questions.9.no' | translate}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-2 question">
            {{'features.poll.questions.4.question' | translate}}
          </div>
          <div class="col-12">
            <div class="grid">
              <div class="col-2">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'1'" [formControlName]="'question4'" inputId="q4-1"></p-radioButton>
                  <label for="q4-1" class="ml-2">1</label>
                </div>
              </div>
              <div class="col-2">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'2'" [formControlName]="'question4'" inputId="q4-2"></p-radioButton>
                  <label for="q4-2" class="ml-2">2</label>
                </div>
              </div>
              <div class="col-2">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'3'" [formControlName]="'question4'" inputId="q4-3"></p-radioButton>
                  <label for="q4-3" class="ml-2">3</label>
                </div>
              </div>
              <div class="col-2">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'4'" [formControlName]="'question4'" inputId="q4-4"></p-radioButton>
                  <label for="q4-4" class="ml-2">4</label>
                </div>
              </div>
              <div class="col-2">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'5'" [formControlName]="'question4'" inputId="q4-5"></p-radioButton>
                  <label for="q4-5" class="ml-2">5</label>
                </div>
              </div>
              <div class="col-2">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'6'" [formControlName]="'question4'" inputId="q4-6"></p-radioButton>
                  <label for="q4-6" class="ml-2">6</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-2 question">
            {{'features.poll.questions.5.question' | translate}}
          </div>
          <div class="col-12">
            <div class="grid">
              <div class="col-2">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'1'" [formControlName]="'question5'" inputId="q5-1"></p-radioButton>
                  <label for="q5-1" class="ml-2">1</label>
                </div>
              </div>
              <div class="col-2">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'2'" [formControlName]="'question5'" inputId="q5-2"></p-radioButton>
                  <label for="q5-2" class="ml-2">2</label>
                </div>
              </div>
              <div class="col-2">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'3'" [formControlName]="'question5'" inputId="q5-3"></p-radioButton>
                  <label for="q5-3" class="ml-2">3</label>
                </div>
              </div>
              <div class="col-2">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'4'" [formControlName]="'question5'" inputId="q5-4"></p-radioButton>
                  <label for="q5-4" class="ml-2">4</label>
                </div>
              </div>
              <div class="col-2">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'5'" [formControlName]="'question5'" inputId="q5-5"></p-radioButton>
                  <label for="q5-5" class="ml-2">5</label>
                </div>
              </div>
              <div class="col-2">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'6'" [formControlName]="'question5'" inputId="q5-6"></p-radioButton>
                  <label for="q5-6" class="ml-2">6</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-2 question">
            {{'features.poll.questions.2.question' | translate}}
          </div>
          <div class="col-12">
            <div class="grid">
              <div class="col-6">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'MINIMAX'" [formControlName]="'question2'" inputId="minimax2"></p-radioButton>
                  <label for="minimax2" class="ml-2">{{'features.poll.questions.2.minimax' | translate}}</label>
                </div>
              </div>
              <div class="col-6">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'DQN'" [formControlName]="'question2'" inputId="dqn2"></p-radioButton>
                  <label for="dqn2" class="ml-2">{{'features.poll.questions.2.dqn' | translate}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-2 question">
            {{'features.poll.questions.3.question' | translate}}
          </div>
          <div class="col-12">
            <div class="grid">
              <div class="col-6">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'MINIMAX'" [formControlName]="'question3'" inputId="minimax3"></p-radioButton>
                  <label for="minimax3" class="ml-2">{{'features.poll.questions.3.minimax' | translate}}</label>
                </div>
              </div>
              <div class="col-6">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'DQN'" [formControlName]="'question3'" inputId="dqn3"></p-radioButton>
                  <label for="dqn3" class="ml-2">{{'features.poll.questions.3.dqn' | translate}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mt-2 question">
            {{'features.poll.questions.1.question' | translate}}
          </div>
          <div class="col-12">
            <div class="grid">
              <div class="col-6">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'MINIMAX'" [formControlName]="'question1'" inputId="minimax1"></p-radioButton>
                  <label for="minimax1" class="ml-2">{{'features.poll.questions.1.minimax' | translate}}</label>
                </div>
              </div>
              <div class="col-6">
                <div class="p-field-radiobutton">
                  <p-radioButton [value]="'DQN'" [formControlName]="'question1'" inputId="dqn1"></p-radioButton>
                  <label for="dqn1" class="ml-2">{{'features.poll.questions.1.dqn' | translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>

    <ng-container *ngSwitchCase="'end'">
      {{'features.poll.end.description' | translate}}
    </ng-container>

    <ng-container *ngSwitchDefault>
      // CONTENT {{step}}
    </ng-container>
  </ng-container>

  <ng-template pTemplate="footer">

    <div class="footer">
      <ng-container [ngSwitch]="step">
        <ng-container *ngSwitchCase="'start'">
          <div></div>
          <button pButton type="button"
                  [label]="'features.poll.next' | translate"
                  class="p-button-primary"
                  [disabled]="isSaving"
                  (click)="next()"></button>
        </ng-container>

        <ng-container *ngSwitchCase="'minimax'">
          <button pButton type="button"
                  [pTooltip]="'features.poll.back' | translate"
                  class="p-button-warning p-button-text"
                  [icon]="'pi pi-angle-left'"
                  [disabled]="step === 'start' || isSaving"
                  (click)="back()"></button>
          <button pButton type="button"
                  [label]="'features.poll.play' | translate"
                  class="p-button-primary"
                  [disabled]="isSaving"
                  (click)="play('minimax')"></button>
          <button pButton type="button"
                  [pTooltip]="'features.poll.next' | translate"
                  class="p-button-text"
                  [icon]="'pi pi-angle-right'"
                  [disabled]="isSaving"
                  (click)="next()"></button>
        </ng-container>

        <ng-container *ngSwitchCase="'dqn'">
          <button pButton type="button"
                  [pTooltip]="'features.poll.back' | translate"
                  class="p-button-warning p-button-text"
                  [icon]="'pi pi-angle-left'"
                  [disabled]="step === 'start' || isSaving"
                  (click)="back()"></button>
          <button pButton type="button"
                  [label]="'features.poll.play' | translate"
                  class="p-button-primary"
                  [disabled]="isSaving"
                  (click)="play('dqn')"></button>
          <button pButton type="button"
                  [pTooltip]="'features.poll.next' | translate"
                  class="p-button-text"
                  [icon]="'pi pi-angle-right'"
                  [disabled]="isSaving"
                  (click)="next()"></button>
        </ng-container>

        <ng-container *ngSwitchCase="'questions'">
          <button pButton type="button"
                  [pTooltip]="'features.poll.back' | translate"
                  class="p-button-warning p-button-text"
                  [icon]="'pi pi-angle-left'"
                  [disabled]="step === 'start' || isSaving"
                  (click)="back()"></button>
          <button pButton type="button"
                  [label]="'features.poll.send' | translate"
                  class="p-button-primary"
                  [disabled]="formGroup.invalid || isSaving"
                  (click)="send()"></button>
          <button pButton type="button"
                  [pTooltip]="'features.poll.next' | translate"
                  class="p-button-text"
                  [icon]="'pi pi-angle-right'"
                  [disabled]="isSaving"
                  (click)="next()"></button>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <button pButton type="button"
                  [pTooltip]="'features.poll.back' | translate"
                  class="p-button-warning p-button-text"
                  [icon]="'pi pi-angle-left'"
                  [disabled]="step === 'start' || isSaving"
                  (click)="back()"></button>
          <ng-container *ngIf="step !== 'end'; else end">
            <button pButton type="button"
                    [pTooltip]="'features.poll.next' | translate"
                    class="p-button-text"
                    [disabled]="isSaving"
                    [icon]="'pi pi-angle-right'"
                    (click)="next()"></button>
          </ng-container>
          <ng-template #end>
            <button pButton type="button"
                    [label]="'features.poll.close' | translate"
                    class="p-button-primary"
                    [disabled]="isSaving"
                    (click)="close()"></button>
          </ng-template>
        </ng-container>
      </ng-container>
    </div>
  </ng-template>
</p-dialog>
