<p-dialog [(visible)]="displayModal" [modal]="true"
          [style]="{width: '50vw', 'max-width': '30rem',  'min-width': '20rem'}"
          [baseZIndex]="10000"
          [draggable]="true"
          (onHide)="escape()"
          [resizable]="false">
  <ng-template pTemplate="header">
    // HEADER
    {{step}}

  </ng-template>

  // CONTENT

  <ng-template pTemplate="footer">
    // FOOTER
    <button pButton type="button"
            [label]="'features.poll.back' | translate"
            class="p-button-warning"
            (click)="back()"></button>
    <button pButton type="button"
            [label]="'features.poll.next' | translate"
            class="p-button-primary"
            (click)="next()"></button>
  </ng-template>
</p-dialog>
