.container {
  margin: 1rem 0 0 0;
}


.settings {
  display: flex;
  justify-content: center;
  margin: 3rem 0 3rem 0;
}

.placeholder {
  display: flex;
  justify-content: center;
  margin: 3rem 0 3rem 0;
  height: 2.3rem;
}
