<div class="content" [@fade]="''">
  <h1>{{'features.howto.title' | translate}}</h1>
  <p-card>
    <div>
      <p>{{'features.howto.subTitle' | translate}}</p>

      <p-accordion [multiple]="true">
        <p-accordionTab [header]="'features.howto.what' | translate" [selected]="true">
          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.explain' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/Start.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab [header]="'features.howto.how' | translate">
          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.rule1' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/Start.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>

          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.rule2' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/Angler.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>

          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.rule3' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/Angler_Safe_Zone.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>

          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.rule4' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/Light.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>

          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.rule5' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/Angler_Destroy.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>

          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.rule6' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/King_Destroy_I.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>

        </p-accordionTab>
        <p-accordionTab [header]="'features.howto.figures' | translate">

          <h3>{{'features.howto.reflector' | translate}}</h3>
          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.figure1' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/Reflector_Light.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>
          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.figure2' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/Reflector.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>

          <h3>{{'features.howto.angler' | translate}}</h3>
          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.figure3' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/Angler.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>

          <h3>{{'features.howto.wall' | translate}}</h3>
          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.figure4' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/Wall.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>

          <h3>Sun</h3>
          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.figure5' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/Sun.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>

          <h3>King</h3>
          <div class="text-area">
            <div class="text">
              <p>{{'features.howto.figure6' | translate}}</p>
            </div>
            <div class="image">
              <img src="./assets/game/howto/King.png" alt="me" style="max-width: 70%; max-height: 70%;">
            </div>
          </div>

        </p-accordionTab>
      </p-accordion>

    </div>
  </p-card>
</div>
