.board {
  display: flex;
  justify-content: center;

  .frame {
    background: var(--surface-f);
    border-radius: 0.5rem;
    padding: 0.1rem;

    .y {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;

      .x {
        position: relative;
        display: flex;
        justify-content: center;
        row-gap: 1rem;
        align-items: center;
        margin: 0.1rem;
        width: 8vw;
        height: 8vw;
        max-height: 10vh;
        max-width: 10vh;
        min-height: 2.5rem;
        min-width: 2.5rem;
      }
    }
  }
}




