<div class="container">
  <div></div>
  <p-card>
    <div>
      <h2>{{'features.about.title' | translate}}</h2>

      <div class="text-area">
        <div>
          <img src="./assets/me/YRuosch01.jpg" alt="me" style="max-width: 40%; max-height: 40%;">
        </div>
        <div>
          <p>{{'features.about.text' | translate}} <a
              href="mailto:register@ruosch.me">email</a> {{'features.about.fun' | translate}}.
          </p>
        </div>
      </div>
    </div>
  </p-card>
  <div></div>
</div>



